table{
      margin:auto;
      font-size:15px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      border-spacing: 1px;
      width: 70%;
      border-collapse: collapse;
      border-spacing: 0;
      width: 70%;
      border: 1px solid #ddd;
    }
td{
        border:1px solid;
        border-color:rgb(58, 57, 57);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
th,td{
      width:max-content;
      color: white;
      text-align: left;
      padding: 16px;
    }
th{
    color:rgb(0, 149, 255);
    font-size:19px;
    vertical-align: bottom;
  }
#table1{
    margin:auto;
    font-size:15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-spacing: 1px;
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 70%;
    border: 1px solid #ddd;
  }
#td1{
      border:1px solid;
      border-color:rgb(58, 57, 57);
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
  }
#th1,#td1{
    width:max-content;
    color: white;
    text-align: left;
    padding: 16px;
  }
#th1{
  color:rgb(0, 149, 255);
  font-size:19px;
  vertical-align: bottom;
}         
body {
  font-family: 'Lato', sans-serif;
  background-color: black;
  text-align: center;
  color:rgb(0, 149, 255);
  ;
}
p{
  font-size: 40px;
}
